* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Gellix";
  overflow-x: hidden;
}

/* ----------------- */
/* Components class */
/* ----------------- */

.button.is-small {
  padding: 10px 20px 12px;
  line-height: 100%;
}
.button.is-text {
  color: #003c2f;
  background-color: transparent;
}
.button.is-text:hover {
  background-color: #f2f7f2;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #22ad01;
  border-style: none;
  border-radius: 36px;
  padding: 12px 56px 14px;
  font-weight: 500;
  line-height: 140%;
  transition: background-color 0.3s;
}
.button:hover {
  /* color: #fff; */
  background-color: #2bb90a;
}
.button.is-secondary {
  color: #003c2f;
  background-color: transparent;
  border: 2px solid #003c2f;
}

.line-bottom {
  border-bottom: 2px solid var(--line-color);
}
/* ----------------- */
/* nav-bar-container */
/* ----------------- */

header {
  width: 100%;
  min-height: 70px;
  height: 73px;
  position: fixed;
  background-color: white;
  z-index: 2;
}

.nav-bar-container {
  --header-padding-y: 24px;

  width: 100%;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.first-nav-bar {
  display: flex;
}

.nav-bar-brand {
  margin-right: 3rem;
  display: flex;
  align-items: center;
  min-width: 100px;
}

.nav-menu-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* --------------- */
/* first-nav-menu */
/* --------------- */

.first-nav-menu {
  color: var(--font-color-green-300);
  font-weight: 500;
}
.first-nav-menu-list {
  display: flex;
}
.first-nav-menu-list-item {
  list-style-type: none;
}
.first-nav-menu-title {
  cursor: pointer;
  padding: var(--header-padding-y) 14px;
}

.first-nav-menu-list > li:hover .first-nav-menu-title {
  color: var(--font-color-green-200);
}
.first-nav-menu-list-item:hover .menu-dropdown-container {
  display: block;
}

/* ----------------- */
/* second-nav-menu */
/* ----------------- */

.second-nav-menu > ul {
  display: flex;
  height: 100%;
  align-items: center;
}
.second-nav-menu > ul li {
  list-style-type: none;
}

/* --------------------- */
/* menu-dropdown         */
/* --------------------- */
.menu-dropdown-container {
  position: fixed;
  width: 100%;
  left: 0;
  box-shadow: 0 24px 40px -20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  background: white;
}
.menu-dropdown {
  display: flex;
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
}
.menu-dropdown-panel {
  display: flex;
  width: 100%;
  padding: 46px 0;
  color: var(--font-color-green-300);
  justify-content: space-between;
  border-top: 2px solid var(--line-color);
}
.menu-dropdown-panel > * {
  width: 100%;
  max-width: 274px;
}
.menu-dropdown-panel ul {
  list-style-type: none;
}
.menu-dropdown-panel ul li {
  padding: 6px 0;
  cursor: pointer;
}
.menu-dropdown-panel ul li:hover a {
  color: var(--font-color-green-200);
}
.menu-dropdown-panel > * > h3 {
  margin-bottom: 10px;
  color: var(--font-color-green-500);
  font-size: 16px;
  font-weight: 600;
}

.menu-dropdown-panel__image-wrapper {
  background-color: #f2f7f2;
  width: 128px;
  height: 82px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}
.menu-dropdown-panel__image-wrapper img {
  width: 95px;
  border-top-left-radius: 10px;
  box-shadow: -7px 19px 20px -4px rgba(0, 0, 0, 0.11);
}
.menu-dropdown-panel__image-block p {
  margin-top: 8px;
}
.menu-dropdown-panel__image-block a {
  margin-top: 10px;
  font-size: 14px;
  color: var(--font-color-green-200);
  font-weight: 600;
  position: relative;
  display: inline-block;
}
.menu-dropdown-panel__image-block a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 3px;
  left: 0;
  background-color: var(--font-color-green-200);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
  transform: scaleX(1);
}

.menu-dropdown-panel__image-block a:hover:after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

/* menu-dropdown tabs */

.menu-dropdown-tabPanel {
  display: flex;
  width: 100%;
  border-top: 2px solid var(--line-color);
}
.menu-dropdown_col1 {
  border-right: 2px solid var(--line-color);
  padding-right: 10px;
  padding-top: 10px;
  max-width: 300px;
  flex: 1;

  color: var(--font-color-green-600);
}
.menu-dropdown_col1 ul {
  list-style-type: none;
}
.menu-dropdown_col1 ul li {
  padding: 8px 16px;
  cursor: pointer;
}
.menu-dropdown_col1 ul li:hover,
.menu-dropdown__col2_body ul li:hover a {
  color: var(--font-color-green-200);
}
.menu-dropdown_col1_tab.active p {
  background-image: url("img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 18px;
  background-position-y: 3px;
}
.menu-dropdown_col1_tab.active {
  color: var(--font-color-green-200);
  background-color: #f2f7f2;
  border-radius: 3px;
}
.menu-dropdown_col2 {
  padding: 28px 60px;
  width: 100%;
  flex: 1;
}
.menu-dropdown_col2_content {
  display: none;
  animation: moving 1s ease;
  color: var(--font-color-green-300);
}
@keyframes moving {
  from {
    /* transform: translateX(50px); */
    opacity: 0;
  }
  to {
    /* transform: translateX(0px); */
    opacity: 1;
  }
}
.content_box .content.active {
  display: block;
}
.menu-dropdown_col2_content.active {
  display: block;
}
.menu-dropdown__col2_title {
  padding-bottom: 14px;
  font-size: 13px;
  font-weight: 500;
  color: var(--font-color-green-300);
  opacity: 0.5;
}
.menu-dropdown__col2_body {
  display: flex;
}
.menu-dropdown__col2_body ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  flex: 1;
}
.menu-dropdown__col2_body ul li {
  padding-bottom: 10px;
}
.menu-dropdown__col2_body ul li:hover {
  cursor: pointer;
}
.menu-dropdown__col2_body ul li a {
  text-decoration: none;
}
.menu-dropdown__col2_footer {
  margin-top: 20px;
  text-align: center;
}
.menu-dropdown__col2_footer a {
  color: var(--font-color-green-200);
  position: relative;
}
.menu-dropdown__col2_footer a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--font-color-green-200);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
  transform: scaleX(1);
}
.menu-dropdown__col2_footer a:hover:after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.hover-link a {
  color: var(--font-color-green-200);
  position: relative;
  font-weight: 500;
}

.hover-link a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--font-color-green-200);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
  transform: scaleX(1);
}

.hover-link a:hover:after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

/* second-nav-bar Styling */
.second-nav-bar {
  position: relative;
  transition: transform 0.4s, opacity 0.3s;
}
.second-nav-bar.is-scrolled {
  transform: translateY(-150px);
  opacity: 0;
}
.second-nav-bar > ul {
  display: flex;
  margin-top: 8px;
  gap: 1rem;
}
.second-nav-bar > ul li {
  list-style-type: none;
  cursor: pointer;
}
.second-nav-bar > ul li:hover a {
  color: var(--font-color-green-500);
}
.second-nav-bar > ul li a {
  color: var(--font-color-green-300);
  opacity: 0.7;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.box-shadow {
  width: 100%;
  height: 117px;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: box-shadow 1s, height 0.3s;
}

.box-shadow.is-scrolled {
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.mobile-nav {
  display: none;
}
/* ----------- */
/* Mobile Nav  */
/* ----------- */

.mobile-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding-y) 0;
}

.mobile-nav-menu-container {
  position: fixed;
  width: 100%;
  top: -100%;
  left: 0;
  transition: top 0.5s, opacity 0.3s, visible 0.3s;
  padding: 0 var(--mobile-nav-side-padding);
  padding: 20px 40px;
  opacity: 0;
  background-color: white;
  z-index: -2;
}
.mobile-nav-menu-container.active {
  top: 72px;
  opacity: 1;
  height: 80vh;
  overflow: scroll;
  z-index: -2;
}

.mobile-nav-menu-wrapper {
  color: var(--font-color-green-500);
  font-weight: 700;
}

.mobile-nav-menu-title.direct:hover {
  color: var(--font-color-green-200);
}

.mobile-nav-menu-title {
  display: flex;
  cursor: pointer;
  padding: 30px 0;
  justify-content: space-between;
}
.mobile-nav-menu-title.active {
  color: var(--font-color-green-200);
}
.mobile-nav-menu-dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: var(--font-color-green-300);
  font-weight: 500;
}
.mobile-nav-menu-dropdown ul li {
  cursor: pointer;
  padding: 3px 0;
}
.mobile-nav-menu-dropdown ul li:hover a {
  color: var(--font-color-green-200);
}
.mobile-nav-menu-dropdown ul li a {
  text-decoration: none;
}
.mobile-nav-menu-dropdown.active {
  height: 100%;
}
.mobile-nav-menu-icon-wrapper {
  width: 20px;
  height: 20px;
}
.mobile-nav-menu-icon-wrapper img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}
.mobile-nav-menu-icon-wrapper img.active {
  transform: rotate(180deg);
}
.mobile-nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-nav-buttons button {
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .desktop-nav,
  .box-shadow {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

/* section 1 */
.section-1 {
  padding-top: 200px;
  padding-bottom: 120px;
}

.section-1-container {
  width: 100%;
  max-width: 1144px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.section-1-title {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.section-1-title h2 {
  font-weight: 700;
  line-height: 100%;
  font-size: 60px;
  color: var(--font-color-green-500);
  text-align: center;
}

.section-1-switch {
  margin-top: 30px;
}

.toggle-switch {
  position: relative;
  width: 322px;
  height: 64px;
  margin: 0 auto;
}

label {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f0f5f0;
  border-radius: 50px;
  cursor: pointer;
}
input {
  position: absolute;
  display: none;
}
.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.slider::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 130px;
  height: 52px;
  background-color: #003c2f;
  border-radius: 50px;
  transition: 0.3s;
}
input:checked ~ .slider::before {
  transform: translateX(120px);
  width: 184px;
  box-shadow: none;
}
input:checked ~ .slider .monthly-sub {
  color: rgb(0, 60, 47);
}
input:checked ~ .slider .yearly-sub {
  color: white;
}
.sub {
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
}
.monthly-sub {
  width: 130px;
  height: 37px;
  top: 13px;
  left: 9px;
  color: white;
  transition: color 0.3s;
}
.yearly-sub {
  width: 157px;
  height: 37px;
  top: 13px;
  left: 16px;
  color: rgb(0, 60, 47);
  gap: 10px;
  transform: translateX(130px);
  transition: color 0.3s;
}
.yearly-sub span {
  font-size: 10px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 50px;
  color: green;
  background-color: white;
}
.toggle-switch-output div {
  display: none;
}
.toggle-switch-output div.active {
  display: block;
}

.section-1-body {
  margin-top: 90px;
  position: relative;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 56px 35px 40px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 0;
}

.card.highlight::before {
  position: absolute;
  content: "Most popular";
  top: -33px;
  left: -7px;
  width: 104%;
  height: 107%;
  border-radius: 12px;
  background-color: #ee8146;
  color: white;
  text-align: center;
  font-size: 14px;
  padding-top: 2px;
  z-index: -1;
}

.card.highlight.best-value::before {
  content: "Best value for money";
}
.card-header {
  padding-bottom: 22px;
}
.card-header > * {
  text-align: center;
}

.card-body {
  padding-top: 22px;
}

.card-body ul {
  list-style-type: none;
}

.card-body ul li span {
  /* margin-left: 21px; */
  color: var(--font-color-green-300);
}

.card-body ul li::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-image: url("img/green_check.svg");
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: 14px;
  left: -18px;
}

.card-header-title {
  margin-bottom: 22px;
}
.card-header-fee,
.card-header-button {
  margin-bottom: 15px;
}

.card-header-title h3,
.card-header-fee p {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  color: var(--font-color-green-500);
}

.card-header-fee p span {
  color: var(--font-color-green-300);
  font-size: 16px;
  font-weight: 700;
  opacity: 0.5;
}

.card-header-fee p span:first-child {
  color: var(--font-color-green-500);
  opacity: 1;
  margin-right: 5px;
}

.card-header-text p {
  font-size: 14px;
  line-height: 125%;
  font-weight: 500;
  color: var(--font-color-green-300);
}

.card-body {
  font-size: 16px;
  font-weight: 500;
  color: var(--font-color-green-500);
  line-height: 150%;
}

.card-body-button {
  margin: 42px auto 0;
}

.card-body ul li {
  padding: 5px;
  position: relative;
}

.subscription {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
  position: absolute;
}
.subscription.active {
  visibility: visible;
  opacity: 1;
  position: relative;
}
.card-header-button .button,
.card-body-button .button {
  padding: 15px 44px 15px;
}
.card-body {
  padding-left: 18px;
}

@media only screen and (max-width: 991px) {
  .card-container {
    display: grid;
    left: 50%;
    row-gap: 60px;
    transform: translateX(-50%);
    width: 100%;
    justify-content: center;
  }
  .card-header,
  .card-body {
    padding: 0px 99px 22px;
    /* max-width: 267px; */
    margin: 0 auto;
  }
  .card-header-text {
    max-width: 257px;
  }
  .card-body {
    padding-top: 20px;
  }
  .card {
    max-width: 513px;
    width: 100%;
  }
  .card .line-bottom {
    width: 100%;
  }

  .card-body ul {
    max-width: 261px;
  }
  .card-body ul li::before {
    width: 13px;
  }
  .card-body ul li {
    margin-bottom: 4px;
  }
  .card-body-button {
    margin: 0px auto 0;
  }
  .section-1 {
    padding-top: 117px;
    padding-bottom: 120px;
  }
}
@media only screen and (max-width: 570px) {
  .section-1-title h2 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 529px) {
  .card-header,
  .card-body {
    padding: 0px 58px 22px;
  }
}
@media only screen and (max-width: 443px) {
  .card-header,
  .card-body {
    padding: 0px 21px 22px;
  }
  .section-1-title h2 {
    font-size: 35px;
  }
  .section-1-body {
    margin-top: 46px;
  }
}

@media only screen and (max-width: 391px) {
  .card-header,
  .card-body {
    padding: 0px 7px 22px;
  }
}

/* Spacer */
.spacer {
  padding-top: 100rem;
}

/* Section 2 */
.section-2 {
  padding-bottom: 120px;
}

.section-2-container {
  max-width: 1144px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.section2-title {
  max-width: 470px;
  margin: 0 auto;
  text-align: center;
}
.section2-title h2 {
  color: var(--font-color-green-500);
  font-size: 42px;
  font-weight: 700;
  line-height: 100%;
}
.adds-on-container {
  margin-top: 60px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 30px;
}
.adds-on-card {
  padding: 40px;
  border: 1px solid #d3dcd4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 356px;
  justify-content: space-between;
}

.adds-on-content h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  margin: 10px 0;
  color: var(--font-color-green-500);
}
.adds-on-body {
  margin-top: 16px;
  width: 100%;
  max-width: 250px;
}
.adds-on-body p {
  color: #65816d;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.adds-on-learn-more {
  margin-top: 24px;
}
.adds-on-price {
  text-align: right;
}
.adds-on-price p {
  color: #003c2f;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}
.adds-on-price p span {
  color: gray;
  font-weight: 700;
  font-size: 16px;
}

@media only screen and (max-width: 991px) {
  .adds-on-card {
    min-height: 291px;
    min-width: 250px;
    padding: 28px;
  }
}

/* section-3 */

.section-3 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-3-container {
  width: 100%;
  max-width: 1144px;
  padding: 0 40px;
  margin: 0 auto;
  position: relative;
}
.section-3-container > img {
  position: absolute;
  width: 835px;
  height: 604px;
  top: -131px;
  right: -500px;
}
.section-3-container h3 {
  color: #003c2f;
  font-size: 42px;
  font-weight: 700;
  line-height: 100%;
}
.accordion-box {
  width: 100%;
  max-width: 640px;
  margin-top: 50px;
}

.accordion-heading {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.accordion-heading p {
  color: #003c2f;
  font-weight: 700;
  line-height: 100%;
  font-size: 20px;
}
.accordion-dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: var(--font-color-green-300);
  font-weight: 500;
}
.accordion-dropdown p {
  margin-bottom: 15px;
}
.accordion-arrow img {
  transition: transform 0.2s;
}
.accordion-arrow img.active {
  transform: rotate(180deg);
}
@media only screen and (max-width: 1044px) {
  .section-3-container > img {
    width: 339px;
    height: 337px;
    top: -31px;
    right: -57px;
    opacity: 0.2;
    z-index: -2;
  }
}
/* section 4 */
.section-4-container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.section-4-container h3 {
  color: #003c2f;
  font-size: 42px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  /* margin-left: 78px; */
}
.section-4-image-wrapper {
  display: flex;
  gap: 105px;
  justify-content: center;
  margin-top: 40px;
  margin-left: 80px;
}
.quote-box-wrapper {
  margin-top: 80px;
}
.quote-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 1401px;
}

.quote-box ul {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.quote-box ul li {
  padding: 14px 18px 14px;
  background-color: #ecf1ec;
  border-radius: 10px;
  color: #003c2f;
  font-size: 20px;
  font-weight: 700;
}
.quote-box ul li span {
  color: #65816d;
}

.divider {
  border-right: 1px solid #d3dcd4;
}

@media only screen and (max-width: 1550px) {
  .quote-box-wrapper {
    overflow-x: auto;
  }
}
@media only screen and (max-width: 840px) {
  .section-4-image-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .section-4-image-wrapper img {
    width: 200px;
  }
}
@media only screen and (max-width: 700px) {
  .section-4-container h3 {
    margin-left: 0px;
  }
  .section-4-image-wrapper {
    margin-left: 0px;
  }
}
